﻿<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
     @* @Styles.Render("~/Content/bootstrap/bootstrap.min.css")  the bundler cannot deal with .min files *@
    <link rel="stylesheet" href="~/Content/bootstrap/bootstrap.min.css" type="text/css" />
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>
